<div class="product-img position-relative overflow-hidden">
  <img class="img-fluid w-100" [src]="product.image" alt="" />
  <div class="product-action">
    <a class="btn btn-outline-dark btn-square" (click)="addProductToCart()"
      ><i class="fa fa-shopping-cart"></i
    ></a>
    <a class="btn btn-outline-dark btn-square"(click)="addHeart() "
      ><i class="far fa-heart"></i
    ></a>
    <a class="btn btn-outline-dark btn-square" href="#"
      ><i class="fa fa-sync-alt"></i
    ></a>
    <a class="btn btn-outline-dark btn-square" href="#"
      ><i class="fa fa-search"></i
    ></a>
  </div>
</div>
<div class="text-center py-4">
  <a
    class="h6 text-decoration-none text-truncate"
    [routerLink]="['/detail', product._id]"
    >{{ product.name }}</a
  >
  <div class="d-flex align-items-center justify-content-center mt-2">
    <h5>{{ product.price - product.price * product.discount }}</h5>
    <h6 class="text-muted ml-2">
      <del>{{ product.price }}</del>
    </h6>
  </div>
  <app-starts
    [rating]="product.rating"
    [count]="product.rating_count"
  ></app-starts>
</div>
