<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Shop</a>
        <span class="breadcrumb-item active">Shopping Cart</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Cart Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <app-cart-table [item]="item" ></app-cart-table>
    </div>
    <div class="col-lg-4">
      <form class="mb-30" action="">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-0 p-4"
            placeholder="Coupon Code"
          />
          <div class="input-group-append">
            <button class="btn btn-primary">Apply Coupon</button>
          </div>
        </div>
      </form>
      <app-cart-total
        [subTotal]="item.getSubTotal()"
        [shipping]="item.getShipping()"
        [total]="item.getTotal()"
      ></app-cart-total>
    </div>
  </div>
</div>
<!-- Cart End -->
